In [19]:
from datetime import datetime
import pandas as pd

In [2]:
now = datetime.now()
now

datetime.datetime(2023, 8, 28, 13, 40, 15, 614178)

In [3]:
now.year, now.month, now.day

(2023, 8, 28)

datetime stores both the date and time down to the microsecond. 

timedelta represents the temporal difference between two datetime objects:

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

You can add (or subtract) a timedelta or multiple thereof to a datetime object to
yield a new shifted object:

In [7]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [8]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

You can format datetime objects and pandas Timestamp objects, which I’ll introduce
later, as strings using str or the strftime method, passing a format specification:

In [9]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

Type Description

%Y      Four-digit year

%y      Two-digit year

%m      Two-digit month [01, 12]

%d      Two-digit day [01, 31]

%H      Hour (24-hour clock) [00, 23]

%I      Hour (12-hour clock) [01, 12]

%M      Two-digit minute [00, 59]

%S      Second [00, 61] (seconds 60, 61 account for leap seconds)

%w      Weekday as integer [0 (Sunday), 6]

%U      Week number of the year [00, 53]; Sunday is considered the first day of the week, 
        and days before the first Sunday of the year are “week 0”

%W      Week number of the year [00, 53]; Monday is considered the first day of the week, 
        and days before the first Monday of the year are “week 0”

%z      UTC time zone offset as +HHMM or -HHMM; empty if time zone naive

%F      Shortcut for %Y-%m-%d (e.g., 2012-4-18)

%D      Shortcut for %m/%d/%y (e.g., 04/18/12)

You can use these same format codes to convert strings to dates using date
time.strptime:

In [11]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

datetime.strptime is a good way to parse a date with a known format. However, it
can be a bit annoying to have to write a format spec each time, especially for common
date formats. In this case, you can use the parser.parse method in the third-party
dateutil package (this is installed automatically when you install pandas):

In [14]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

dateutil is capable of parsing most human-intelligible date representations:

In [15]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In international locales, day appearing before month is very common, so you can pass
dayfirst=True to indicate this:

In [16]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

pandas is generally oriented toward working with arrays of dates, whether used as an
axis index or a column in a DataFrame. The to_datetime method parses many dif‐
ferent kinds of date representations. Standard date formats like ISO 8601 can be
parsed very quickly:

In [17]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [20]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

It also handles values that should be considered missing (None, empty string, etc.):

In [22]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [23]:
idx[2]
# NaT (Not a Time) is pandas’s null value for timestamp data.

NaT

In [24]:
pd.isnull(idx)

array([False, False,  True])

dateutil.parser is a useful but imperfect tool. Notably, it will rec‐
ognize some strings as dates that you might prefer that it didn’t—
for example, '42' will be parsed as the year 2042 with today’s cal‐
endar date.

datetime objects also have a number of locale-specific formatting options for systems
in other countries or languages. For example, the abbreviated month names will be
different on German or French systems compared with English systems. See
Table 11-3 for a listing.

Type Description

%a      Abbreviated weekday name

%A      Full weekday name

%b      Abbreviated month name

%B      Full month name

%c      Full date and time (e.g., ‘Tue 01 May 2012 04:20:57 PM’)

%p      Locale equivalent of AM or PM

%x      Locale-appropriate formatted date (e.g., in the United States, May 1, 2012 yields ’05/01/2012’)

%X      Locale-appropriate time (e.g., ’04:24:12 PM’)