In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,3],[3,4,5],[5,6,7], [7,8,9]])
df.columns = pd.MultiIndex.from_tuples([('i','a'),('i','b'),('ii','a')])
df

   i    ii
   a  b  a
0  1  2  3
1  3  4  5
2  5  6  7
3  7  8  9

In [3]:
df.columns = df.columns.to_flat_index()
df

   (i, a)  (i, b)  (ii, a)
0       1       2        3
1       3       4        5
2       5       6        7
3       7       8        9

In [4]:
df = df.rename(columns={('i','b'):('i','c')})
df

   (i, a)  (i, c)  (ii, a)
0       1       2        3
1       3       4        5
2       5       6        7
3       7       8        9

In [5]:
df.columns = pd.MultiIndex.from_tuples(df.columns)
df

   i    ii
   a  c  a
0  1  2  3
1  3  4  5
2  5  6  7
3  7  8  9