In [2]:
import pandas as pd

# pd.read_csv

In [6]:
df = pd.read_csv('ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# pd.read_csv stringIO

In [7]:
from io import StringIO
data = "col1,col2,col3\na,b,1\na,b,2\nc,d,3"
pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

# skiprow

In [8]:
# If callable, the callable function will be evaluated against the row indices, 
# returning True if the row should be skipped and False otherwise:
pd.read_csv(StringIO(data), skiprows=lambda x: x % 2 != 0)

# row index 0 and row index 2 will be remove

  col1 col2  col3
0    a    b     2

# pd.read_table

In [7]:
df = pd.read_table('ex1.csv', sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# import csv - open

## ___________Cách 1

In [3]:
import csv
f = open('ex7.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

## ___________Cach 2

In [6]:
import csv

# First, we read the file into a list of lines:
with open('ex7.csv') as f:
    lines = list(csv.reader(f))

# Then, we split the lines into the header line and the data lines:
header, values = lines[0], lines[1:]

# Then we can create a dictionary of data columns using a 
# dictionary comprehension and the expression zip(*values), 
# which transposes rows to columns:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

# Read csv with none header

In [9]:
df = pd.read_csv('ex2.csv', header=None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [3]:
df = pd.read_csv('ex2.csv',names=['a', 'b', 'c', 'd', 'message'])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
names = ['a', 'b', 'c', 'd', 'message']
df = pd.read_csv('ex2.csv', names=names, index_col='message')
# decide one column to be the index
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

# Hierarchical index
In the event that you want to form a hierarchical index from multiple columns, pass a list of column numbers or names:

In [5]:
parsed = pd.read_csv('csv_mindex.csv',index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

# a table might not have a fixed delimiter
using whitespace or some other pattern to separate fields.

In [1]:
list(open('ex3.txt'))

['  A B C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb 0.927272 0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382 1.100491\n']

In [4]:
result = pd.read_table('ex3.txt', sep='\s+')
result

# Because there was one fewer column name than the number of data rows, 
# read_table infers that the first column should be the DataFrame’s index 
# in this special case

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

# Skip some first row

In [6]:
# you can skip the first, third, and fourth rows of a file with skiprows:
pd.read_csv('ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# =====HANDLING MISSING VALUES=====

## Missing data is usually either not present (empty string) or marked by some sentinel value. By default, pandas uses a set of commonly occurring sentinels, such as NA and NULL:

In [8]:
result = pd.read_csv('ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [9]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

## The na_values option can take either a list or set of strings to consider missing values:

In [11]:
result = pd.read_csv('ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

## Different NA sentinels can be specified for each column in a dict:

In [13]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN