pip install openpyxl

In [1]:
import pandas as pd

If you are reading multiple sheets in a file, then it is faster to create the ExcelFile, but you can also simply pass the filename to pandas.read_excel:

## cach 1

In [4]:
xlsx = pd.ExcelFile('ex1.xlsx')
pd.read_excel(xlsx, 'sheet1')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## cach 2

In [2]:
frame = pd.read_excel('ex1.xlsx', 'sheet1')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# write pandas data to Excel format,

## cach1

In [5]:
writer = pd.ExcelWriter('ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
# writer.save()
writer.close()

AttributeError: 'OpenpyxlWriter' object has no attribute 'save'

The save() method has been deprecated and removed in Pandas. You should use close() instead.

## cach2
You can also pass a file path to to_excel and avoid the ExcelWriter:

In [ ]:
frame.to_excel('ex2.xlsx')
writer.close()