In [24]:
import sqlite3 
# create connection by using object 
# to connect with hotel_data database
connection = sqlite3.connect('hotel_data.db')

In [12]:
# query to create a table named FOOD1
connection.execute(''' CREATE TABLE hotel
         (FIND INT PRIMARY KEY     NOT NULL,
         FNAME           TEXT    NOT NULL,
         COST            INT     NOT NULL,
         WEIGHT        INT);
         ''')

OperationalError: table hotel already exists

In [20]:
# insert query to insert food  details in
# the above table
connection.execute("INSERT INTO hotel VALUES (1, 'cakes',800,10 )")
connection.execute("INSERT INTO hotel VALUES (2, 'biscuits',100,20 )")
connection.execute("INSERT INTO hotel VALUES (3, 'chocos',1000,30 )")

In [25]:
print("All data in food table\n")
 
# create a cousor object for select query
cursor = connection.execute("SELECT * from hotel ")
 
# display all data from hotel table
for row in cursor:
    print(row)

All data in food table

(1, 'cakes', 800, 10)
(2, 'biscuits', 100, 20)
(3, 'chocos', 1000, 30)

In [26]:
print("Food id and Food Name\n")
 
# create a cousor object for select query
cursor = connection.execute("SELECT FIND,FNAME from hotel ")
 
# display all data from FOOD1 table
for row in cursor:
     print(row)

Food id and Food Name

(1, 'cakes')
(2, 'biscuits')
(3, 'chocos')

In [23]:
connection.commit()
connection.close()