In [1]:
import sqlite3
  
connection = sqlite3.connect('5sqlite3whereclause.db')
cursor = connection.cursor()
  
# create table
cursor.execute("DROP TABLE IF EXISTS STUDENT")
createTable = '''CREATE TABLE STUDENT(
   Student_ID int, First_Name VARCHAR(100),
   Last_Name VARCHAR(100), Age int,
   Department VARCHAR(100)
)'''
cursor.execute(createTable)
  
# check the database creation data
if cursor:
    print("Database Created Successfully !")
else:
    print("Database Creation Failed !")
  
connection.commit()
connection.close()

Database Created Successfully !

### Now we will insert data into STUDENT table.

In [3]:
connection = sqlite3.connect('5sqlite3whereclause.db')
cursor = connection.cursor()
# Insert data into the table
cursor.execute("INSERT INTO STUDENT VALUES (1,'Rohit', 'Pathak', 21, 'IT')")
cursor.execute("INSERT INTO STUDENT VALUES (2,'Nitin', 'Biradar', 21, 'IT')")
cursor.execute("INSERT INTO STUDENT VALUES (3,'Virat', 'Kohli', 30, 'CIVIL')")
cursor.execute("INSERT INTO STUDENT VALUES (4,'Rohit', 'Sharma', 32, 'COMP')")
  
# printing the cursor data
if cursor:
    print("Data Inserted !")
else:
    print("Data Insertion Failed !")
  
# Commit the changes in database and Close the connection
connection.commit()
connection.close()

Data Inserted !

### the use of Where Clause

__To retrieve the data of the students whose Department is IT__

In [4]:
connection = sqlite3.connect('5sqlite3whereclause.db')
cursor = connection.cursor()
  
# WHERE CLAUSE TO RETRIEVE DATA
cursor.execute("SELECT * FROM STUDENT WHERE Department = 'IT'")
  
# printing the cursor data
print(cursor.fetchall())
  
connection.commit()
connection.close()

[(1, 'Rohit', 'Pathak', 21, 'IT'), (2, 'Nitin', 'Biradar', 21, 'IT')]

__To retrieve the data of the students whose First Name starts with â€˜R__

In [5]:
connection = sqlite3.connect('5sqlite3whereclause.db')
cursor = connection.cursor()
  
# WHERE CLAUSE TO RETRIEVE DATA
cursor.execute("SELECT * from STUDENT WHERE First_name Like'R%'")
  
# printing the cursor data
print(cursor.fetchall())
  
connection.commit()
connection.close()

[(1, 'Rohit', 'Pathak', 21, 'IT'), (4, 'Rohit', 'Sharma', 32, 'COMP')]

__To update the data of student whose Student ID is 4__

In [6]:
connection = sqlite3.connect('5sqlite3whereclause.db')
cursor = connection.cursor()
  
# WHERE CLAUSE TO UPDATE DATA
cursor.execute("UPDATE STUDENT SET Department ='E&TC' WHERE Student_ID = 2")
  
# printing the cursor data
cursor.execute("SELECT * from STUDENT")
print(cursor.fetchall())
  
connection.commit()
connection.close()

[(1, 'Rohit', 'Pathak', 21, 'IT'), (2, 'Nitin', 'Biradar', 21, 'E&TC'), (3, 'Virat', 'Kohli', 30, 'CIVIL'), (4, 'Rohit', 'Sharma', 32, 'COMP')]

__To Delete the data of student whose Age ID is 30__

In [7]:
connection = sqlite3.connect('5sqlite3whereclause.db')
cursor = connection.cursor()
  
# WHERE CLAUSE TO DELETE DATA
cursor.execute("DELETE from STUDENT WHERE Age = 32")
  
#printing the cursor data
cursor.execute("SELECT * from STUDENT")
print(cursor.fetchall())
  
connection.commit()
connection.close()

[(1, 'Rohit', 'Pathak', 21, 'IT'), (2, 'Nitin', 'Biradar', 21, 'E&TC'), (3, 'Virat', 'Kohli', 30, 'CIVIL')]