In [1]:
import sqlite3
connection = sqlite3.connect('6sqlite6-order-by.db')
connection.execute('''CREATE TABLE customer_address
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50)); ''')
  
connection.close()

### Now, Insert 5 records into the customer_address table.

In [3]:
connection = sqlite3.connect('6sqlite6-order-by.db')
  
connection.execute(
    "INSERT INTO customer_address VALUES (1, 'nikhil teja', 22, 'hyderabad' )")
connection.execute(
    "INSERT INTO customer_address VALUES (2, 'karthik', 25, 'khammam')")
connection.execute(
    "INSERT INTO customer_address VALUES (3, 'sravan', 22, 'ponnur' )")
connection.execute(
    "INSERT INTO customer_address VALUES (4, 'deepika', 25, 'chebrolu' )")
connection.execute(
    "INSERT INTO customer_address VALUES (5, 'jyothika', 22, 'noida')")

connection.commit()  
connection.close()

### the use of order by clause

__Display all details from the table in ascending order(default) based on address.__

In [6]:
connection = sqlite3.connect('6sqlite6-order-by.db')
cursor = connection.execute(
    "SELECT * from customer_address ORDER BY address DESC")
  
for i in cursor:
    print(i)
  
connection.close()

(3, 'sravan', 22, 'ponnur')
(5, 'jyothika', 22, 'noida')
(2, 'karthik', 25, 'khammam')
(1, 'nikhil teja', 22, 'hyderabad')
(4, 'deepika', 25, 'chebrolu')

__Display address and id based on the address in descending order.__

In [5]:

connection = sqlite3.connect('6sqlite6-order-by.db')
cursor = connection.execute("SELECT ADDRESS,ID from customer_address ORDER BY address DESC")
  
for i in cursor:
    print(i)
  
connection.close()

('ponnur', 3)
('noida', 5)
('khammam', 2)
('hyderabad', 1)
('chebrolu', 4)

__Display name and id based on name in descending order__

In [7]:
connection = sqlite3.connect('6sqlite6-order-by.db')
cursor = connection.execute(
    "SELECT NAME,ID from customer_address ORDER BY NAME DESC")
  
for i in cursor:
    print(i)
  
connection.close()

('sravan', 3)
('nikhil teja', 1)
('karthik', 2)
('jyothika', 5)
('deepika', 4)