In [1]:
import sqlite3
conn = sqlite3.connect(r'7sqlite3-join-clause.db')
cursor = conn.cursor()
  
# Create and populate tables
cursor.executescript('''
CREATE TABLE Advisor(
AdvisorID INTEGER NOT NULL,
AdvisorName TEXT NOT NULL,
PRIMARY KEY(AdvisorID)
);
  
CREATE TABLE Student(
StudentID NUMERIC NOT NULL,
StudentName NUMERIC NOT NULL,
AdvisorID INTEGER,
FOREIGN KEY(AdvisorID) REFERENCES Advisor(AdvisorID),
PRIMARY KEY(StudentID)
);
  
INSERT INTO Advisor(AdvisorID, AdvisorName) VALUES
(1,"John Paul"), 
(2,"Anthony Roy"), 
(3,"Raj Shetty"),
(4,"Sam Reeds"),
(5,"Arthur Clintwood");
  
INSERT INTO Student(StudentID, StudentName, AdvisorID) VALUES
(501,"Geek1",1),
(502,"Geek2",1),
(503,"Geek3",3),
(504,"Geek4",2),
(505,"Geek5",4),
(506,"Geek6",2),
(507,"Geek7",2),
(508,"Geek8",3),
(509,"Geek9",NULL),
(510,"Geek10",1);
  
''')
  
conn.commit()  
conn.close()

### INNER JOIN

In [2]:
conn = sqlite3.connect(r'7sqlite3-join-clause.db')
cursor = conn.cursor()
  
sql = '''SELECT StudentID, StudentName, AdvisorName 
FROM Student 
INNER JOIN Advisor
ON Student.AdvisorID = Advisor.AdvisorID;'''
  
cursor.execute(sql)  
result = cursor.fetchall()
for row in result:
    print(row)
  
conn.close()

(501, 'Geek1', 'John Paul')
(502, 'Geek2', 'John Paul')
(503, 'Geek3', 'Raj Shetty')
(504, 'Geek4', 'Anthony Roy')
(505, 'Geek5', 'Sam Reeds')
(506, 'Geek6', 'Anthony Roy')
(507, 'Geek7', 'Anthony Roy')
(508, 'Geek8', 'Raj Shetty')
(510, 'Geek10', 'John Paul')

### LEFT JOIN

In [3]:
conn = sqlite3.connect(r'7sqlite3-join-clause.db')
cursor = conn.cursor()
  
sql = '''SELECT StudentID, StudentName, AdvisorName 
FROM Student 
LEFT JOIN Advisor
USING(AdvisorID) ;'''
  
cursor.execute(sql)  
result = cursor.fetchall()
for row in result:
    print(row)
  
conn.close()

(501, 'Geek1', 'John Paul')
(502, 'Geek2', 'John Paul')
(503, 'Geek3', 'Raj Shetty')
(504, 'Geek4', 'Anthony Roy')
(505, 'Geek5', 'Sam Reeds')
(506, 'Geek6', 'Anthony Roy')
(507, 'Geek7', 'Anthony Roy')
(508, 'Geek8', 'Raj Shetty')
(509, 'Geek9', None)
(510, 'Geek10', 'John Paul')

### RIGHT JOIN

In [5]:
conn = sqlite3.connect(r'7sqlite3-join-clause.db')
cursor = conn.cursor()
  
sql = '''SELECT StudentID, StudentName, AdvisorName 
FROM Student
RIGHT JOIN Advisor 
USING(AdvisorID);'''
  
cursor.execute(sql)  
result = cursor.fetchall()
for row in result:
    print(row)
  
conn.close()

(501, 'Geek1', 'John Paul')
(502, 'Geek2', 'John Paul')
(503, 'Geek3', 'Raj Shetty')
(504, 'Geek4', 'Anthony Roy')
(505, 'Geek5', 'Sam Reeds')
(506, 'Geek6', 'Anthony Roy')
(507, 'Geek7', 'Anthony Roy')
(508, 'Geek8', 'Raj Shetty')
(510, 'Geek10', 'John Paul')
(None, None, 'Arthur Clintwood')

### FULL OUTER JOIN

In [6]:
conn = sqlite3.connect(r'7sqlite3-join-clause.db')
cursor = conn.cursor()
  
sql = '''SELECT StudentID, StudentName, AdvisorName 
FROM Student 
LEFT JOIN Advisor
USING(AdvisorID)
UNION ALL
SELECT StudentID, StudentName, AdvisorName 
FROM Advisor 
LEFT JOIN Student
USING(AdvisorID)
WHERE Student.AdvisorID IS NULL;'''
  
cursor.execute(sql)  
result = cursor.fetchall()
for row in result:
    print(row)
  
conn.close()

(501, 'Geek1', 'John Paul')
(502, 'Geek2', 'John Paul')
(503, 'Geek3', 'Raj Shetty')
(504, 'Geek4', 'Anthony Roy')
(505, 'Geek5', 'Sam Reeds')
(506, 'Geek6', 'Anthony Roy')
(507, 'Geek7', 'Anthony Roy')
(508, 'Geek8', 'Raj Shetty')
(509, 'Geek9', None)
(510, 'Geek10', 'John Paul')
(None, None, 'Arthur Clintwood')

### CROSS JOIN

In [7]:
conn = sqlite3.connect(r'7sqlite3-join-clause.db')
cursor = conn.cursor()
  
sql = '''SELECT StudentID, StudentName, AdvisorName 
FROM Student 
CROSS JOIN Advisor;'''
  
cursor.execute(sql)  
result = cursor.fetchall()
for row in result:
    print(row)
  
conn.close()

(501, 'Geek1', 'John Paul')
(501, 'Geek1', 'Anthony Roy')
(501, 'Geek1', 'Raj Shetty')
(501, 'Geek1', 'Sam Reeds')
(501, 'Geek1', 'Arthur Clintwood')
(502, 'Geek2', 'John Paul')
(502, 'Geek2', 'Anthony Roy')
(502, 'Geek2', 'Raj Shetty')
(502, 'Geek2', 'Sam Reeds')
(502, 'Geek2', 'Arthur Clintwood')
(503, 'Geek3', 'John Paul')
(503, 'Geek3', 'Anthony Roy')
(503, 'Geek3', 'Raj Shetty')
(503, 'Geek3', 'Sam Reeds')
(503, 'Geek3', 'Arthur Clintwood')
(504, 'Geek4', 'John Paul')
(504, 'Geek4', 'Anthony Roy')
(504, 'Geek4', 'Raj Shetty')
(504, 'Geek4', 'Sam Reeds')
(504, 'Geek4', 'Arthur Clintwood')
(505, 'Geek5', 'John Paul')
(505, 'Geek5', 'Anthony Roy')
(505, 'Geek5', 'Raj Shetty')
(505, 'Geek5', 'Sam Reeds')
(505, 'Geek5', 'Arthur Clintwood')
(506, 'Geek6', 'John Paul')
(506, 'Geek6', 'Anthony Roy')
(506, 'Geek6', 'Raj Shetty')
(506, 'Geek6', 'Sam Reeds')
(506, 'Geek6', 'Arthur Clintwood')
(507, 'Geek7', 'John Paul')
(507, 'Geek7', 'Anthony Roy')
(507, 'Geek7', 'Raj Shetty')
(507, 'Geek7', 'Sam Reeds')
(507, 'Geek7', 'Arthur Clintwood')
(508, 'Geek8', 'John Paul')
(508, 'Geek8', 'Anthony Roy')
(508, 'Geek8', 'Raj Shetty')
(508, 'Geek8', 'Sam Reeds')
(508, 'Geek8', 'Arthur Clintwood')
(509, 'Geek9', 'John Paul')
(509, 'Geek9', 'Anthony Roy')
(509, 'Geek9', 'Raj Shetty')
(509, 'Geek9', 'Sam Reeds')
(509, 'Geek9', 'Arthur Clintwood')
(510, 'Geek10', 'John Paul')
(510, 'Geek10', 'Anthony Roy')
(510, 'Geek10', 'Raj Shetty')
(510, 'Geek10', 'Sam Reeds')
(510, 'Geek10', 'Arthur Clintwood')