In [1]:
from datetime import datetime, date, time
dt = datetime(2011,10,29,20,30,21)
dt.day

29

# dt.minute

In [2]:
dt.minute

30

# dt.date()

In [3]:
dt.date()

datetime.date(2011, 10, 29)

# dt.time()

In [4]:
dt.time()

datetime.time(20, 30, 21)

# strftime: formats a datetime as a string

In [5]:
dt.strftime('%m/%d/%y %H:%M')
# %Y là viết hoa, viết thường sẽ báo lỗi

'10/29/11 20:30'

# strptime: convert string into datetime

In [6]:
# Strings can be converted (parsed) into datetime objects with the strptime function:
datetime.strptime('20091031','%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

When you are aggregating or otherwise grouping time series data, it will occasionally be useful to replace time fields of a series of datetimes—for example, replacing the minute and second fields with zero. Since datetime.datetime is an immutable type, methods like these always produce new objects.

In [7]:
dt.replace(minute=0,second=0)

datetime.datetime(2011, 10, 29, 20, 0)

# The difference of two datetime objects produces a datetime.timedelta type:

In [8]:
dt2 = datetime(2011,10,10,22,30)
delta = dt2 -dt

delta
# datetime.timedelta(days=-19, seconds=7179)
# The output timedelta(17, 7179) indicates that the 
# timedelta encodes an offset of 17 days and 7,179 seconds.

type(delta)
# datetime.timedelta

datetime.timedelta

# Adding a timedelta to a datetime produces a new shifted datetime:

In [9]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [10]:
dt + delta

datetime.datetime(2011, 10, 10, 22, 30)

# Datetime format specification (ISO C89 compatible)

%Y Four-digit year
%y Two-digit year

%m Two-digit month [01, 12]
%d Two-digit day [01, 31]

%H Hour (24-hour clock) [00, 23]
%I Hour (12-hour clock) [01, 12]

%M Two-digit minute [00, 59]
%S Second [00, 61] (seconds 60, 61 account for leap seconds)

%w Weekday as integer [0 (Sunday), 6]

%U Week number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of
the year are “week 0”

%W Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of
the year are “week 0”

%z UTC time zone offset as +HHMM or -HHMM; empty if time zone naive
%F Shortcut for %Y-%m-%d (e.g., 2012-4-18)
%D Shortcut for %m/%d/%y (e.g., 04/18/12)