In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.059446     0.037751     0.052012    -0.026959
std       1.004344     0.971612     0.986952     0.998283
min      -4.219744    -2.700244    -3.973851    -3.505194
25%      -0.724658    -0.647861    -0.579781    -0.671385
50%      -0.006602     0.073808     0.013228    -0.006852
75%       0.633278     0.729928     0.709894     0.642842
max       2.804737     2.679557     3.755224     2.849664

__Suppose you wanted to find values in one of the columns exceeding 3 in absolute value:__

In [6]:
col = data[2]
col[np.abs(col) > 3]

321    3.384814
718    3.755224
724   -3.973851
Name: 2, dtype: float64

In [28]:
# To select all rows having a value exceeding 3 or â€“3, you can use the any method on a boolean DataFrame:
data[(np.abs(data) > 3).any(axis=1)]

            0         1         2         3
82  -0.380570  0.004941  2.356406 -3.054745
278  0.859082  0.176927 -0.295811 -3.505194
321 -0.074543 -0.076318  3.384814 -0.937042
718 -0.885552 -1.139441  3.755224  1.304280
724  1.218606  0.848164 -3.973851  0.466861
897  1.544651  1.032923  0.809000 -3.153760
930 -4.219744  1.017491  0.109274  0.091718

In [41]:
# Here is code to cap values outside the interval â€“3 to 3:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.058226     0.037751     0.051846    -0.026245
std       1.000017     0.971612     0.979657     0.996011
min      -3.000000    -2.700244    -3.000000    -3.000000
25%      -0.724658    -0.647861    -0.579781    -0.671385
50%      -0.006602     0.073808     0.013228    -0.006852
75%       0.633278     0.729928     0.709894     0.642842
max       2.804737     2.679557     3.000000     2.849664

In [42]:
# The statement np.sign(data) produces 1 and â€“1 values based on whether the values in data are positive or negative:
np.sign(data).head()

     0    1    2    3
0  1.0 -1.0 -1.0  1.0
1  1.0  1.0 -1.0  1.0
2 -1.0 -1.0  1.0  1.0
3  1.0 -1.0 -1.0  1.0
4  1.0 -1.0 -1.0  1.0

### HÃ€M ANY() VÃ€ ALL() vÃ  sum() method for boolean array

In [22]:
# Boolean values are coerced to 1 (True) and 0 (False) in the preceding methods. Thus,
# sum is often used as a means of counting True values in a boolean array:
arr = np.random.randn(100)
(arr > 0).sum()

51

In [20]:
# any() tests whether one or more values in an array is True,
bools = np.array([True,False,True,False])
bools.any()

True

In [29]:
np.any([[True, False], [True, True]])

True

In [30]:
np.any([[True, False], [False, False]], axis=0)

array([ True, False])

In [31]:
np.any([-1, 0, 5])

True

In [32]:
np.any(np.nan)

True

In [33]:
np.any([[True, False], [False, False]], where=[[False], [True]])

False

In [37]:
o=np.array(False)
z=np.any([-1, 4, 5], out=o)
z, o
# out : ndarray, optional
# Alternate output array in which to place the result.  It must have
# the same shape as the expected output and its type is preserved
# (e.g., if it is of type float, then it will remain so, returning
# 1.0 for True and 0.0 for False, regardless of the type of `a`).

(array(True), array(True))

In [38]:
z is o

True

In [39]:
id(z), id(o) # identity of z and o

(2591831157488, 2591831157488)

In [21]:
# all() checks if every value is True:
bools = np.array([True,False,True,False])
bools.all()

False