In [1]:
import pandas as pd
import numpy as np

I have a DataFrame full of floats (positive and negative) and some NaN. I'd like to replace every single float number with its sign:

    if it's NaN -> it remains Nan
    if positive -> replace with 1
    if negative -> replace with -1
    if zero -> leave it as 0

In [2]:
df = pd.DataFrame({'A':[-1,3,0,5],
                   'B':[4,5,6,5],
                   'C':[8,-9,np.nan,7]})

df

   A  B    C
0 -1  4  8.0
1  3  5 -9.0
2  0  6  NaN
3  5  5  7.0

In [3]:
np.sign(df["A"])

0   -1
1    1
2    0
3    1
Name: A, dtype: int64

In [4]:
np.sign(df)

   A  B    C
0 -1  1  1.0
1  1  1 -1.0
2  0  1  NaN
3  1  1  1.0