In [1]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [3]:
# The indexâ€™s is_unique property can tell you whether its labels are unique or not:
obj.index.is_unique

False

### Indexing a label with multiple entries returns a Series, while single entries return a scalar value:

This can make your code more complicated, as the output type from indexing can
vary based on whether a label is repeated or not.

In [4]:
obj['a']

a    0
a    1
dtype: int64

In [5]:
obj['c']

4

In [6]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

          0         1         2
a -1.674893  0.534774 -0.598219
a  0.498937 -0.910058  0.280736
b  1.018496  0.577583 -1.315516
b  1.140562 -0.537449  1.338025

The same logic extends to indexing rows in a DataFrame:

In [7]:
df.loc['b']

          0         1         2
b  1.018496  0.577583 -1.315516
b  1.140562 -0.537449  1.338025