In [1]:
import numpy as np
import pandas as pd

### __VD1__

In [2]:
a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
              "bar", "bar", "foo", "foo", "foo"], dtype=object)
a

array(['foo', 'foo', 'foo', 'foo', 'bar', 'bar', 'bar', 'bar', 'foo',
       'foo', 'foo'], dtype=object)

In [3]:
b = np.array(["one", "one", "one", "two", "one", "one",
              "one", "two", "two", "two", "one"], dtype=object)
b

array(['one', 'one', 'one', 'two', 'one', 'one', 'one', 'two', 'two',
       'two', 'one'], dtype=object)

In [4]:
c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
              "shiny", "dull", "shiny", "shiny", "shiny"],
             dtype=object)
c

array(['dull', 'dull', 'shiny', 'dull', 'dull', 'shiny', 'shiny', 'dull',
       'shiny', 'shiny', 'shiny'], dtype=object)

In [5]:
pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])

b    one        two
c   dull shiny dull shiny
a
bar    1     2    1     0
foo    2     2    1     2

## __VD2__

In [9]:
foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])
bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])
pd.crosstab(foo, bar)

col_0  d  e
row_0
a      1  0
b      0  1

In [10]:
pd.crosstab(foo, bar, dropna=False)

col_0  d  e  f
row_0
a      1  0  0
b      0  1  0
c      0  0  0

### __VD3__

In [11]:
df = pd.DataFrame(
    {"A": [1, 2, 2, 2, 2], "B": [3, 3, 4, 4, 4], "C": [1, 1, np.nan, 1, 1]}
)
df

   A  B    C
0  1  3  1.0
1  2  3  1.0
2  2  4  NaN
3  2  4  1.0
4  2  4  1.0

In [12]:
pd.crosstab(df["A"], df["B"])

B  3  4
A
1  1  0
2  1  3

In [13]:
# Frequency tables can also be normalized to show percentages rather than counts using the normalize argument:
pd.crosstab(df["A"], df["B"], normalize=True)

B    3    4
A
1  0.2  0.0
2  0.2  0.6

In [14]:
# normalize can also normalize values within each row or within each column:
pd.crosstab(df["A"], df["B"], normalize="columns")

B    3    4
A
1  0.5  0.0
2  0.5  1.0

In [15]:
# crosstab() can also be passed a third Series and an aggregation function (aggfunc) 
# that will be applied to the values of the third Series within each group defined 
# by the first two Series:
pd.crosstab(df["A"], df["B"], values=df["C"], aggfunc=np.sum)

B    3    4
A
1  1.0  NaN
2  1.0  2.0

In [16]:
# Finally, one can also add margins or normalize this output.
pd.crosstab(
    df["A"], df["B"], values=df["C"], aggfunc=np.sum, normalize=True, margins=True
)

B       3    4   All
A
1    0.25  0.0  0.25
2    0.25  0.5  0.75
All  0.50  0.5  1.00