In [3]:
import pandas as pd
import numpy as np

In [4]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah    1.083833 -0.136335  0.948865
Ohio   -0.809370 -1.491928  1.211071
Texas   0.342194  1.296593 -0.580021
Oregon  0.784308  0.048554 -2.426708

### NumPy ufuncs (element-wise array methods) also work with pandas objects:

In [5]:
np.abs(frame)

               b         d         e
Utah    1.083833  0.136335  0.948865
Ohio    0.809370  1.491928  1.211071
Texas   0.342194  1.296593  0.580021
Oregon  0.784308  0.048554  2.426708

### Another frequent operation is applying a function on one-dimensional arrays to each column or row. 
DataFrame’s apply method does exactly this:

In [6]:
f = lambda x: x.max() - x.min()
frame.apply(f)

b    1.893203
d    2.788521
e    3.637778
dtype: float64

Here the function f, which computes the difference between the maximum and minimum of a Series, is invoked once on each column in frame. The result is a Series having the columns of frame as its index.

If you pass axis='columns' to apply, the function will be invoked once per row
instead:

In [7]:
frame.apply(f, axis='columns')

Utah      1.220168
Ohio      2.702999
Texas     1.876613
Oregon    3.211016
dtype: float64

Many of the most common array statistics (like sum and mean) are DataFrame meth‐ ods, so using apply is not necessary.

### The function passed to apply need not return a scalar value; 
it can also return a Series with multiple values:

In [8]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

            b         d         e
min -0.809370 -1.491928 -2.426708
max  1.083833  1.296593  1.211071

Element-wise Python functions can be used, too. Suppose you wanted to compute a
formatted string from each floating-point value in frame. You can do this with apply
map:

In [9]:
format = lambda x: '%.2f' % x
frame.applymap(format)

            b      d      e
Utah     1.08  -0.14   0.95
Ohio    -0.81  -1.49   1.21
Texas    0.34   1.30  -0.58
Oregon   0.78   0.05  -2.43

The reason for the name applymap is that Series has a map method for applying an
element-wise function:

In [10]:
frame['e'].map(format)

Utah       0.95
Ohio       1.21
Texas     -0.58
Oregon    -2.43
Name: e, dtype: object