In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [5]:
data.to_csv('out.csv')

# prints the text result to the console

In [14]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

## Missing values appear as empty strings in the output. 
You might want to denote them by some other sentinel value:

In [15]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

## both the row and column labels are written. Both of these can be disabled:

In [16]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

## write only a subset of the columns, and in an order of your choosing:

In [17]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

# MAGIC FUNCTION

In [ ]:
!dir

In [13]:
%who

data	 pd